.button {
  color: white;
  margin-top: 15px;
  height: 40px;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
  font-weight: bold;
  height: 50px;
}

.pink-button {
  @extend .button;
  @extend .long-button;
  background-color: pink;
  border: 2px hotpink solid;
  color: $primary-blue;
  padding-top: 15px;
  padding-bottom: 15px;
}

.standard-button {
  @extend .button;
  background-color: $primary-blue;
  width: 200px;
}

.long-button {
  @extend .button;
  width: 365px;
}

.short-button {
  @extend .button;
  background-color: $primary-blue;
  width: 150px;
}

.send-order-button {
  @extend .short-button;
  background-color: $primary-red;
}

.tiny-button {
  @extend .button;
  background-color: $primary-blue;
  text-align: center;
  width: 80px;
  padding: 0;
}

.shipping-button {
  @extend .button;
  @extend .short-button;
  margin: 20px;
}

.print-label-button {
  @extend .shipping-button;
}

.messenger-button {
  @extend .shipping-button;
  background-color: $primary-red;
}

.shipping-option-container {
  @extend .flex-container;
  justify-content: center;
}

.shipping-option-container:first-child {
  margin-top: 10px;
}

.clear-button:hover {
  cursor: pointer;
}

.clear-image {
  max-width: 12px;
}

.notes-image {
  max-width: 25px;
  padding-right: 15px;
  margin-top: 10px;
}

.clear-text {
  padding-left: 5px;
  font-family: Raleway;
  text-decoration: underline;
}

.notes-button-text {
  @extend .clear-text;
  font-size: 12px;
}

.arrow-button {
  font-family: Raleway;
  text-decoration: underline;
  text-align: center;
}

.arrow-button:hover {
  cursor: pointer;
}

input.big-button {
  @extend .short-button;
  margin-bottom: 15px;
  width: 180px;
  height: 65px;
  font-family: Raleway;
}

.print-instructions-button {
  background-color: $primary-blue;
  width: 250px;
}
