.button {
  color: white;
  margin-top: 15px;
  height: 40px;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
  font-weight: bold;
  height: 50px;
}

.pink-button {
  @extend .button;
  @extend .long-button;
  background-color: pink;
  border: 2px hotpink solid;
  color: $primary-blue;
  padding-top: 15px;
  padding-bottom: 15px;
}

.standard-button {
  @extend .button;
  background-color: $primary-blue;
  width: 200px;
}

.long-button {
  width: 365px;
}

.short-button {
  background-color: $primary-blue;
  width: 150px;
}

.tiny-button {
  background-color: $primary-blue;
  text-align: center;
  width: 80px;
  padding: 0;
}

.shipping-button {
  @extend .button;
  @extend .short-button;
  margin: 20px;
}

.print-label-button {
  @extend .shipping-button;
}

.messenger-button {
  @extend .shipping-button;
  background-color: $primary-red;
}

.shipping-button-container {
  @extend .flex-container;
  justify-content: center;
}

.shipping-button-container:first-child {
  margin-top: 10px;
}
