

.cart-container {
  min-width: 275px;
  border: 2px solid $primary-blue;
  border-radius: 5px;
  padding: 5px;
  margin-top: 85px;
  height: max-content;
  float: right;
}

.cart-icon {
  width: 40px;
  padding-right: 20px;
  vertical-align: -4px;
}

.cart-title {
  text-align: center;
  font-family: Raleway;
}

.remove-from-cart-button {
  @extend .hoverable;
  background-color: white;
  float: right;
  padding-right: 10px;
  font-size: 20px;
  color: red;
  font-weight: bold;
  font-family: arial;
}

.cart-alteration {
  padding-left: 10px;
}

/*
.cart-buttons {
  @extend .flex-container;
  justify-content: space-between;
}
*/

.cart-buttons > input {
  margin-left: 5px;
  margin-right: 105px;
  margin-bottom: 50px;
}
