.form-input {
  border: none;
  background-color: rgba(216, 237, 252, 0.5);
  margin-top: 10px;
  height: 40px;
  width: 360px;
  padding-left: 15px;
  border-radius: 5px;
  border: 1px solid $primary-blue;
}

.form-label {
  padding-top: 0px;
  color: $primary-blue;
  font-family: $Alegreya;
}

input[type='submit'] {
  @extend .button;
}

input[type='submit']:disabled {
  opacity: 0.65;
  cursor: not-allowed;
}
