.growl {
  z-index: 100000;
  position: fixed;
  top: 5px;
  left: 236px;
  height: 120px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  min-width: 500px;
  background-color: #dcdcdc;
}

.growl-header {
  background-color: #f5f5f5;
  height: 35px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  line-height: 1px;
  display: flex;
  align-items: center;
}

.growl-title {
  display: inline-block;
  font-family: $sans-serif;
  padding-left: 20px;
  text-transform: uppercase;
}

.growl-body {
  display: flex;
  align-items: center;
  position: absolute;
}

.growl-text {
  padding-top: 15px;
  font-family: $sans-serif;
  padding-left: 20px;
}

.notice-growl {
  color: #000033;
}

.warning-growl {
  color: $primary-red;
}

.success-growl {
  color: green;
}

@media screen and (min-width: 1024px) {
  .growl {
    left: 50%;
    margin-left: -175px;
  }
}

.empty-div {
  display: none;
}
