h1.how-to-pin {
  text-align: center;
  margin-top: 40px;
}

p.how-to-pin {
  text-align: center;
  font-family: $sans-serif;
  color: $primary-blue;
  margin: 0 100px;
  margin-top: 45px;
  margin-bottom: 50px;
  line-height: 1.5;
}
