.measurements-image-container {
  @extend .flex-container;
}

.measurements-image {
  display: block;
  margin: 0;
  width: 350px;
  height: 650px;
  padding-top: 70px;
}

.measurement-buttons-container {
  @extend .flex-container;
  justify-content: space-around;
  max-width: 500px;
  margin-bottom: 50px;
}

.customer-measurements {
  position: relative;
  margin-left: 50px;
}

.input-measurements-container {
  position: relative;
}

.input-measurement {
  width: 30px;
  height: 20px;
  line-height: 25px;
  text-align: center;
  border: 3px solid pink;
  border-radius: 5px;
  position: absolute;
}

// front measurements

.ankle {
  top: 670px;
  left: 115px;
}

.calf {
  top: 595px;
  left: 115px;
}

.chest_bust {
  top: 150px;
  left: 115px;
}

.hips {
  top: 325px;
  left: 240px;
}

.knee {
  top: 515px;
  left: 115px;
}

.pant_length {
  top: 385px;
  left: 65px;
}

.sleeve_length {
  top: 150px;
  left: 22px;
}

.shoulder_to_waist {
  top: 105px;
  left: 180px;
}

.thigh {
  top: 440px;
  left: 115px;
}

.upper_torso {
  top: 210px;
  left: 115px;
}

.waist {
  top: 268px;
  left: 115px;
}

// back measurements

.back_width {
  top: 95px;
  left: 155px;
}

.bicep {
  top: 120px;
  left: 35px;
}

.elbow {
  top: 155px;
  left: 19px;
}

.forearm {
  top: 190px;
  left: 4px;
}

.inseam {
  top: 600px;
  left: 155px;
}
