.messages-container {
  @extend .flex-container;
  margin: 15px auto;
  // width: 500px;
}

.message-list {
  height: calc(100vh - 223px);
  overflow: scroll;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-left: 20%;
  padding-right: 20%;
}

.messages-form form {
  background-color: lightgrey;
  height: 100px;
  margin: 0 auto;
  display: flex;
}

.messages-form-inner-box {
  width: 500px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.messages-form-inner-box textarea {
  padding: 10px;
  width: 400px;
  margin-right: 12px;
  height: 48px;
  margin-top: 0;
  font-family: $serif;
  color: $primary-blue;
  resize: none;
}

.messages-form-inner-box .message-button {
  width: 100px;
  background-color: lightgrey;
  border: 0px;
  font-size: 18px;
  font-family: $sans-serif;
  font-weight: bold;
  color: $primary-blue;
  margin-top: 0px;
}

.message {
  width: 400px;
  border: 1px solid $primary-blue;
  margin-bottom: 20px;
  margin-top: 20px;
  @extend .flatcard;
  padding: 15px;
  padding-bottom: 0px;
}

.message-date h3 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: bold;
  font-family: $sans-serif;
}

.message-heading {
  display: flex;
  justify-content: space-between;
}

.message h4 {
  text-transform: uppercase;
  font-family: $sans-serif;
  font-weight: bolder;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
}

.message p {
  font-family: $serif;
  color: $primary-blue;
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px auto;
  font-size: 15px;
}

.sender {
  float: right;
  clear: both;
}
