.navbar {
  width: 175px;
  margin: 0;
  font-family: $Raleway;
  // position: fixed;
  border-right: 1px solid $primary-blue;
  height: 100%;
  position: relative;
}

div.navbar-logo {
  border-bottom: 1px solid $primary-blue;
  height: 93px;
}

.navbar-logo > h5 {
  margin-left: 36px;
  margin-top: 8px;
  margin-bottom: 20px;
  font-family: $Raleway;
  letter-spacing: 2px;
  font-size: 11px;
}

.navbar-logo > .logo {
  width: 125px;
  margin-left: 25px;
  margin-top: 20px;
}

nav ul {
  padding-left: 0px;
}

nav img {
  display: inline-block;
  width: 25px;
  padding-right: 20px;
  vertical-align: -9px;
}

nav li {
  list-style: none;
  height: 45px;
}

nav li:hover {
  @extend .hoverable;
  background-color: lightgrey;
}

nav li a {
  padding-left: 9%;
  display: inline-block;
  width: 91%;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  color: $primary-blue;
}

.section-header {
  @extend .flex-container;
}

.hamburger {
  width: 50px;
  height: 50px;
  padding-top: 20px;
  padding-left: 10px;
  position: absolute;
  z-index: 1;
}

.hamburger:hover {
  cursor: pointer;
}

.orders-search {
  width: 90%;
  height: 30px;
  display: block;
  margin: 0 auto;
  margin-top: 25px;
  text-indent: 35px;
  border-radius: 20px;
  border: none;
  background-color: lightgrey;
  background-image: url('../client/images/search.png');
  background-size: 20px;
  background-repeat: no-repeat;
  font-size: 12px;
  background-position: 5px 50%;
}

.navbar-links-li {
  height: 45px;
  padding-top: 2px;
}

.signout-link {
  position: absolute;
  bottom: 5px;
  width: 100%;
}

.close-menu-link {
  font-size: 11px;
  line-height: normal;
  padding: 0;
  display: inline-block;
  float: right;
  width: 100%;
  padding-top: 10px;
}

.close-menu-link > p {
  display: inline;
  margin: 0px;
  padding-left: 50px;
  line-height: 2;
}

.triangle {
  display: inline;
  width: 0;
  height: 0;
  border-top: 22px solid transparent;
  border-right: 25px solid #000033;
  border-bottom: 22px solid transparent;
  float: right;
  margin-top: -10px;
}

//
// @media screen and (max-width: $ipad-break){
//   .navbar {
//     display: none;
//   }
//
//   .hamburger {
//     display: inline;
//   }
//
//   .content {
//     margin-left: 0px;
//   }
// }

// @media screen and (max-width: $ipad-break){
//   .content {
//     margin-left: 0px;
//   }
// }
