
.new-order-content {
  @extend .flex-container;
  margin-left: 50px;
  justify-content: flex-start;
}

.stage-section {
  margin-right: 40px;
}

.alteration-select {
  @extend .flex-container;
  max-width: 570px;
  justify-content: flex-start;
}

.select-garment {
  max-width: 675px;
}

.garment-image {
  height: 90px;
}

.garment-card {
  @extend .flatcard;
  @extend .hoverable;
  width: 150px;
  height: 150px;
  text-align: center;
  display: inline-block;
  overflow: unset;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  // flex: 1 0 25%;
}

.garment-card > h2 {
  margin-top: 5px;
  margin-bottom: 30px;
  font-family: Raleway;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.alteration-card {
  @extend .garment-card;
  @extend .hoverable;
  width: 180px;
  height: 60px;
  margin-bottom: 5px;
}

.alt-price-info {
  padding-right: 50px;
  margin-top: 0;
  text-align: right;
}

.modal-eye {
  @extend .hoverable;
  background-color: white;
  width: 35px;
}

.how-to-pin-image {
  height: 460px;
  display: block;
  margin: 0 auto;
}

.close-modal {
  @extend .hoverable;
  background-color: white;
  font-family: Raleway;
  color: $primary-blue;
  font-weight: bold;
}

.how-to-pin-modal-container {
  display: inline;
}

