.order-show {
  padding-left: 50px;
}

.item-type-image {
  width: 75px;
  height: 75px;
  padding-right: 20px;
}

.type-heading {
  @extend .flex-container;
  justify-content: flex-start;
}

.notes-title {
  color: $primary-blue;
  font-family: $sans-serif;
  font-weight: 600;
  font-size: 10px;
}

.notes {
  color: gray;
  padding: 20px;
  padding-top: 0;
  font-family: $sans-serif;
  font-size: 15px;
}

.type-list {
  margin-left: 40px;
  list-style: unset;
  line-height: 2;
}

.notes-form > textarea {
  width: 355px;
}

.order-show-line {
  color: $primary-blue;
  background-color: $primary-blue;
  margin: 20px auto;
  width: 80%;
}

.order-show-back-button {
  @extend .back-button;
}

.order-show-p-content {
  padding-left: 15px;
  font-size: 14px;
  line-height: 0.5;
}

.order-show-title {
  font-family: $sans-serif;
  font-size: 10px;
}

.order-show-status-card {
  width: 170px;
  font-family: $sans-serif;
}
