.orders {
  color: $primary-blue;
  width: 100%;
}

.order-state {
  background: $accent-gray;
}

.order-state-row {
  @extend .flex-container;
}

.order-state-tab {
  flex: 1 0 20%;
  text-align: center;
  padding-top: 2%;
  height: 5%;
}

.order-state-tab.selected {
  background: white;
  -webkit-clip-path: polygon(20% 0, 0 100%, 100% 100%, 80% 0);
  clip-path: polygon(20% 0, 0 100%, 100% 100%, 80% 0);
}

.order-state-tab.selected:nth-child(1) {
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 80% 0);
  clip-path: polygon(0 0, 0 100%, 100% 100%, 80% 0);
}

.order-state-tab.selected:last-child {
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 80% 0);
  clip-path: polygon(20% 0, 0 100%, 100% 100%, 100% 0);
}

.order-state-tab h3 {
  font-family: $sans-serif;
  text-transform: uppercase;
  font-weight: lighter;
}

.late-orders h3 {
  color: $primary-red;
}

.row-hr {
  width: 95%;
  margin: 0 auto;
}

.order-header-hr {
  @extend .row-hr;
}

.order-row-hr {
  @extend .row-hr;
}


.order-data {
  width: 100%;
}

.order-headers {
  width: 100%;
}

.table-row {
  @extend .flex-container;
}

.order-headers-row {
  @extend .table-row;

  font-family: arial;
  font-size: 14px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.order-row {
  @extend .table-row;
  background-color: black;
}

.order-row-link:hover {
  @extend .hoverable;
}

.table-cell {
  flex: 0 0 15%;
}

.order-header-cell {
  @extend .table-cell;

  text-align: center;
  text-transform: uppercase;
}

.order-select-cell {
  @extend .table-cell;
  background-color: green;
}

.order-data-cell {
  @extend .table-cell;
  background-color: yellow;
}


// .full-width-text-row {
//   padding-top: 2%;
//   flex: 1 1 100%;
//   text-align: center;
//   font-family: $serif;
// }
//
// .loading-orders {
//   @extend .full-width-text-row;
//   font-style: italic;
// }
//
// .no-orders {
//   @extend .full-width-text-row;
// }
