
.orders {
  color: $primary-blue;
  width: 100%;
}

.order-state {
  background: $accent-gray;
}

.order-state-row {
  @extend .flex-container;
}

.order-state-tab {
  flex: 1 0 20%;
  text-align: center;
  padding-top: 2%;
  height: 5%;
}

.order-state-tab.selected {
  background: white;
  -webkit-clip-path: polygon(20% 0, 0 100%, 100% 100%, 80% 0);
  clip-path: polygon(20% 0, 0 100%, 100% 100%, 80% 0);
}

.order-state-tab.selected:nth-child(1) {
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 80% 0);
  clip-path: polygon(0 0, 0 100%, 100% 100%, 80% 0);
}

.order-state-tab.selected:last-child {
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 80% 0);
  clip-path: polygon(20% 0, 0 100%, 100% 100%, 100% 0);
}

.order-state-tab h3 {
  font-family: $sans-serif;
  text-transform: uppercase;
  font-weight: lighter;
}
.order-row-header {
  @extend .flex-container;
  font-family: arial;
  font-size: 14px;
  letter-spacing: .5px;
  text-transform: uppercase;
  margin-left: 50px;
}

.order-row-header > h3 {
  flex: 1 0 20%;
  text-transform: uppercase;
}

.row-hr {
  width: 90%;
  margin-left: 30px;
  margin-top: 0;
  margin-bottom: 0;
}

.order-row-hr {
  @extend .row-hr;
  border-top: 1px solid rgba(0, 0, 51, .1);
}

.order-header-hr {
  @extend .row-hr;
}

.order-row {
  height: 40px;
  padding-top: 25px;
  padding-bottom: 5px;
  padding-left: 50px;
}

.order-data:hover {
  @extend .hoverable;
}

.order-select {
  flex: 1 0 20%;
}

.order-data {
  flex: 1 0 80%;
  div {
    flex: 1 0 25%;
    color: $primary-blue;
  }
}
