// .print {
//   // visibility: hidden;
//   // display: none;
//   margin-top: 20px;
//   margin-left: 20px;
// }
//
// // @media print {
// //   body * {
// //     // visibility: hidden;
// //   }
//
// .print,
// .print * {
//   visibility: visible;
//   display: block;
// }
//
// .print {
//   position: absolute;
//   top: 0;
//   left: 0;
//   display: block;
// }
// // }

.print {
  visibility: hidden;
  display: none;
  margin-top: 20px;
  margin-left: 20px;
}

@media print {
  body * {
    visibility: hidden;
  }

  .print,
  .print * {
    visibility: visible;
    display: block;
  }

  .print {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
  }
}

.packing-slip-info {
  font-family: arial;
}

.packing-slip-info h3,
.packing-slip-info p,
.packing-slip-info-img,
.print-alteration {
  margin-left: -30px;
  margin-right: 30px;
}

.packing-slip-info h3 {
  font-family: $Alegreya;
  font-size: 27px;
  margin-bottom: 20px;
  padding-top: 20px;
  margin-left: 10px;
  font-weight: bold;
}

.packing-slip-info p {
  font-size: 10px;
  margin-left: 10px;
  font-family: arial;
}

.packing-slip-info-orderid {
  text-align: center;
  font-weight: bold;
}

.packing-slip-label {
  display: block;
  // width: 100px;
  width: 100%;
  margin: auto;
}

.print-alteration-li {
  font-family: arial;
  font-size: 10px;
  line-height: 1.2;
}

.print-alteration-ul {
  font-family: arial;
  list-style-type: none;
  padding-left: 0;
  text-align: center;
  margin-right: 30px;
}

.packing-slip-info-img {
  display: block;
  width: 100px;
  margin: 20px auto;
  padding-right: 30px;
}

.print-instructions {
  width: 90%;
}

.print-instructions > h2 {
  font-size: 20px;
}

.print-instructions > h4 {
  font-size: 14px;
}

.print .card {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin: 20px;
  padding-right: 10px;
}

.print .card .item-type-image {
  width: 50px;
  height: 50px;
  padding-right: 0px;
}

.print .card ul {
  padding-left: 10px;
  margin-bottom: 0px;
}

.print .card ul li {
  font-size: 10px;
}

.print h2 {
  font-size: 15px;
}

.print h3 {
  font-size: 12px;
}

.print h4 {
  font-size: 10px;
}

// .print .card .type-heading img,
.print .card .type-heading h3,
.print .card .type-heading ul,
.print .card .type-heading li {
  display: inline;
}

// .print .card .type-heading h3 {
//   padding-left: 20px;
// }
