.section-header {
  background-color: $primary-blue;
  border-bottom: 1px solid $primary-blue;
  height: 93px;
  line-height: 93px;
  width: 100%;
}

.section-header > h2 {
  color: white;
  padding-left: 50px;
  margin-top: 0;
  width: 60%;
  font-weight: normal;
  font-family: $Alegreya;
  letter-spacing: 0.5px;
  font-size: 21px;
}

.section-header a {
  color: white;
  font-family: $Alegreya;
}

.cart-ribbon {
  background-color: $primary-red;
  width: 75px;
  margin-left: auto;
  margin-right: 10%;
  height: 94px;
}

.cart-ribbon-triangle {
  width: 0;
  height: 0;
  border-left: 37px solid transparent;
  border-right: 38px solid transparent;
  border-top: 26px solid $primary-red;
}

.cart-ribbon-sign {
  color: white;
  margin: 0 auto;
  text-align: center;
  font-size: 96px;
  font-weight: 900;
  font-family: Raleway;
  -webkit-transition: transform 1s ease;
  transition: transform 1s ease;
}

.rotate {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*.rotate0 {
  -webkit-transform:rotate(0deg);
  transform:rotate(0deg);
}

.rotate45 {
  -webkit-transform:rotate(45deg);
  transform:rotate(45deg);
}*/

@media screen and (max-width: 981px) {
  .section-header > h2 {
    padding-left: 80px;
  }
}

@media screen and (max-width: 1039px) {
  .section-header > h2 {
    max-width: 418px;
  }
}
