.sign-in-form-container {
  width: 30px;
  min-width: 400px;
  /*margin: 10% auto; */
  margin: 110px auto;
}

.sign-in-logo > .logo {
  width: 200px;
}

.sign-in-logo > h5 {
  font-family: $Alegreya;
  letter-spacing: 0.5px;
  margin-top: 18px;
  margin-bottom: 18px;
  font-size: 24px;
}

.forgot-password {
  margin-left: 20px;
}

.signin-button {
  @extend .standard-button;
}
