.table-row {
  @extend .flex-container;
}

.table-row-container {
  width: 100%;
  padding-left: 2%;
  padding-right: 2%;
}

.table-cell {
  text-align: center;
  flex: 0 0 15%;
}

.full-width-text-row {
  padding-top: 2%;
  flex: 1 1 100%;
  text-align: center;
  font-family: $serif;
}

.table-link:hover {
  @extend .hoverable;
}

.table-header-cell {
  @extend .table-cell;
  text-align: center;
  text-transform: uppercase;
}

.conversation-break-row {
  @extend .break-row;
}
