.table-row {
  @extend .flex-container;
}

.table-row-container {
  padding-left: 5%;
  padding-right: 5%;
}

.table-cell {
  text-align: center;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 15%;
}

.full-width-text-row {
  padding-top: 2%;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100%;
  text-align: center;
  font-family: $serif;
}

.table-link:hover {
  @extend .hoverable;
}

.table-headers-container {
  @extend .table-row-container;
  padding-left: 2%;
  padding-right: 2%;
}

.table-header-cell {
  @extend .table-cell;
  text-transform: uppercase;
}

.row-border-bottom {
  border-bottom: 1px solid $border-gray;
}

.row-border-top {
  border-top: 1px solid $border-gray;
}

.break-row {
  @extend .row-border-top;
  flex-basis: 1 1 100%;
}
