@import url('https://fonts.googleapis.com/css?family=Raleway:400,600');
@import url('https://fonts.googleapis.com/css?family=Alegreya');

$primary-blue: #000033;
$primary-red: #de0421;
$accent-gray: rgba(0, 0, 51, .1);
$border-gray: gray;

$ipad-break: 750px;

$Raleway: Raleway;
$Alegreya: Alegreya;
$serif: $Alegreya;
$sans-serif: $Raleway;
