@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Alegreya');

$primary-blue: #000033;
$ipad-break: 750px;
$Raleway: Raleway;
$Alegreya: Alegreya;
$serif: $Alegreya;
$sans-serif: $Raleway;
